.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}
.box {
    width: 200px;
    height: 200px;
    background: #333;
}
